/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #593919; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color:   #f5f5f5; 
}

.logo-and-links {
    display: flex;
    align-items: center;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    margin-left: 20px;
    padding: 0;
}

.navbar-links li {
    margin: 0 15px;
    font-size: 1.2rem;
    color: #f3e9dc; /* Dark brownish-gray text for links */
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-links li:hover {
    color: #d6b99c; /* Olive green hover color */
}

/* Remove underline and default link styles */
.navbar-links a {
    text-decoration: none;
    color: inherit; /* Inherit the color from parent */
    font-weight: 500;
}

.navbar-links a:hover {
    color: #d6b99c; /* Olive green hover color */
}


