.results-container {
    
    padding: 20px;
}

.results-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
    color: #593919;
}

.results-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.results-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    
}

.results-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #f3e9dc;
}

.dosha-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.results-card h3 {
    margin-bottom: 10px;
    color: #593919;
    
}

.results-card p {
    color: #593919;
    font-size: 0.9rem;
    font-weight: bold;
}

.font{
    font-family: 'Poppins', sans-serif;
}

h3{
    color: #593919;
}